@use "../abstract" as *;
@use "../base" as *;
@use "../component" as *;
@use "../layout" as *;
@use "../vendor" as *;

.banner{
    &__wrapper{
        background-color: $clr--light;
        padding: 4rem 4rem;
        border-radius:0 0 5rem 5rem ;
        padding-bottom: 7rem;
        h1{
            max-width: 60rem;
        }
        .upper{
            p{
                opacity: .5;
            }
        }
        .buttons{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 3rem;
            gap: 1rem;
            .memberbtn{
            background-color: $crl--accent;
            padding:1.5rem;
            border-radius: 3rem;
            color: $clr--light;   
        }
        .memberBtnTrans{
            padding:1.5rem;
            border-radius: 3rem;
            color: $clr--dark;   
            border: solid 1px $crl--accent;
        }
        }
        
       
    }
   
     &__pics{
        @include unevengrid(1fr 1fr, 5rem);
        }
    
    &__left{
      
        p{
            font-size: 2rem;
            margin-top: 2rem;
            color: $clr--dark;
            
        }
    }
}

.counts{
    &__wrapper{
        margin-top: 4rem;
        background-color: rgba(182, 181, 181, 0.288);
        padding: 4rem 4rem;
        border-radius: 10rem ;
        @include grid(4);
        @include flex(space-around,center);
    }
    &__list{
            h2, p{
                
                color: $clr--light;
            }
        }
}

.services{
    &__title{
        color: $clr--light;
        text-align: center;
        margin: 7rem 0 5rem 0;
    }
    &__wrapper{
        display: flex;
        overflow: hidden;
        background-color: rgba(182, 181, 181, 0.288);
        border-radius: 5rem ;
        height: 40rem;
    }
    &__details{
        @include grid(2);
        padding: 4rem;
        h3, p{
            color: $clr--light;
            margin: 0;
        }
        h3{
            line-height: normal;
        }
        
    }
    &__left{
        @include flex(start, start);
        gap:2rem;
            .icon{
                background-color: $crl--accent;
                border-radius: 50%;
                padding: .5rem 1rem;
            }
        }
    &__right{
        img{
            @include imgCover(100%, 70rem);
        }
    }
}