@use '../abstract' as *;

.footer{
     background-color: #000815;
    &__wrapper{
        margin-top: 25rem;
        padding: 12rem 9rem;
        @include mediaQuery{
            @include grid(5, 5rem);
        }
    }
    &__socials{
        width: 30rem;
        a{
            color: $clr--light;
            font-size: 5rem;
        }
        p, i{
            color: $clr--light;
        }
        i{
            width: 3rem;
            height: 3rem;
            font-size: 2rem;
            gap:2rem;
        }
    }
    &__company{
        color: $clr--light;
    }
    &__category{
        color: $clr--light;
    }
    &__contact{
        color: $clr--light;
        i{
           margin-bottom: 1rem;
           font-size: 1.5rem;
           display: flex;
           gap: 2rem;
           align-items: center;
        }
    }
    &__app{
        color: $clr--light;
    }
    &__end{
        padding: 1rem 9rem;
        display: flex;
        justify-content: flex-start;
        gap: 12rem;
        color: $clr--light;
        
            border-top: 2px solid $clr--dark;
        a{
            color: $clr--light;
        }
    }
}