:root{
    --light: #fff;
    --dark: #131313;
    --accent:#ff7906;
}


$clr--light: var(--light);
$clr--dark: var(--dark);
$crl--accent: var(--accent);


$clr--white: #fff;

$sm: "42rem";
$md: "92rem";
$lg: "144rem";
$xl: "180rem";